<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="../../assets/logo-maipo.png" height="40px" width="150px" style="margin: 0 auto; display: block;">
  </ion-toolbar>
 <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-item>
      <ion-label>Select</ion-label>
      <ion-select cancelText="Nah" okText="Ok" placeholder="Seleccionar opcion" expand="full">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item> 
  </ion-item>
</ion-list>
</ion-content>